# Ignore ALL node_modules folders anywhere in the project
**/node_modules/

# Ignore ALL .env files anywhere in the project
**/*.env
**/.env
Backend/config/config.env

# Generated MongoDB backups
Backend/backup/